testservices/target/classes/testGetWa.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="SOAPClientGetWeatherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/testGetWeatherSoup" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="CountryName" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Get_Weather"/>
        <dw:transform-message doc:name="SOAP Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: flowVars.CountryName
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="GetWeather" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Json Response" metadata:id="6d1fd736-3a20-4778-a42e-62147e5c9af9">
            <dw:input-payload doc:sample="sample_data\GetCitiesByCountryResponse.xml"/>
            <dw:input-variable variableName="CountryName"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://www.webserviceX.NET
---
[{
	CountryName: payload.ns0#GetCitiesByCountryResponse.ns0#GetCitiesByCountryResult,
	ns0#GetCitiesByCountryResponse: {
	}
}]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
